{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block content %}
<h1 class="mb-3 font-weight-bold">{% translate 'Transaction detail' %}</h1>
{% include 'partials/messages.html' %}
<div class="row">
    <div class="col">
        <div class="card rounded-lg mb-3 shadow-sm">
            <div class="card-body p-0">
                <form action="{% url 'edit_transaction' transaction.transactionId %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="type" class="font-weight-bolder">Type</label>
                            <select name="type" class="form-control rounded-sm">
                                {% for type in types %}
                                    {% if type.pk == transaction.type.pk %}
                                        <option selected value="{{transaction.type.pk}}">{{transaction.type.name}}</option>
                                    {% else %}
                                        <option value="{{type.pk}}">{{type.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category" class="font-weight-bolder">{% translate 'Category' %}</label>
                            <select name="category" class="form-control rounded-sm" id="editCategory">
                                <option value="{{transaction.category.categoryId}}">{{transaction.category.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date" class="font-weight-bolder">{% translate 'Date' %}</label>
                            <input name="date" type="date" value="{{transaction.date|date:'Y-m-d'}}" class="form-control rounded-sm" required>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="font-weight-bolder">{% translate 'Amount' %}</label>
                            <input type="number" step=".01" min="0" name="amount" value="{{transaction.amount|unlocalize }}" class="form-control rounded-sm" required>
                        </div>
                        <div class="form-group">
                            <label for="description" class="font-weight-bolder">{% translate 'Description' %}</label>
                            <textarea name="description" cols="30" rows="1" class="form-control rounded-sm">{{transaction.description}}</textarea>
                        </div>
                        <input type="submit" id="submitBtn" class="btn btn-primary rounded-sm" value="{% translate 'Save Changes' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/transaction.js' %}"></script>
{% endblock %}