{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="font-weight-bold mr-auto text-center text-md-left text-lg-left">
            <ul class="navbar-nav text-center text-md-left text-lg-left">
                <li class="nav-item mr-md-3 mr-lg-3">
                    <a href="{% url 'dashboard' %}" class="h3 font-weight-bold text-dark text-decoration-none">{% translate 'Budget App' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link text-dark h6 mb-0">{% translate 'Dashboard' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'transactions' %}" class="nav-link text-dark h6 mb-0">{% translate 'Transactions' %}</a>
                </li>
            </ul>
        </div>
        <span class="nav-link pl-0 pb-0 position-relative text-center text-md-left text-lg-left">
            <h5 class="bi bi-person-circle">
                <a class="stretched-link text-decoration-none text-dark" id="user_profile_link" href="{% url 'account' %}"> {{request.user.username}}</a>
            </h5>
        </span>
        <div class="nav-item dropdown">
            <a class="mr-2 nav-link dropdown-toggle border rounded-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% translate 'Language' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for lang in languages %}
                    <a class="dropdown-item" id="{{lang.code}}" href="/{{lang.code}}/{{request.get_full_path|slice:'4:'}}">{{lang.name_local}}</a>
                {% endfor %}
            </div>
        </div>
        <form  class="form mt-2 mb-1 text-center text-md-left text-lg-left" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-primary rounded-lg" value="{% translate 'Sign out' %}">
        </form>
    </div>
</nav>
